@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      /* Light white transparent */ rgba(0, 0, 0, 0.5)
        /* Darker black transparent */
    ),
    url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
